body {
  /** background-color: #121212; **/
  background-color: #383838;
  font-family: 'Poppins', sans-serif;
}

.root {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
            "navbar main-view main-view"
            "player player player"
            "barra-footer barra-footer barra-footer";
}

#main .main-container .container a {
  text-decoration: none;
  color: white;
}
#main .main-container .container a:hover {
  text-decoration: underline;
}

a, button {
  text-decoration: none;
}

.color-default {
  color: #fff;
  opacity: .6;
}

/** Menu Lateral **/
.nav-bar .navbar-nav .nav-item a:hover {
  opacity: 1;
}


.nav-bar {
  grid-area: navbar;
  background-color: #383838;
  border-right: 1px solid red;
  max-width: 235px;
  min-height: 0;
  flex: 1;
  max-height: 100%;
  overflow-y: auto;
}


.nav-bar-header .logo {
  width: 170px;
}

.nav-bar .navbar-nav {
  padding: 0 8px;
}

.nav-bar .navbar-nav .nav-item a {
  border-radius: 4px;
  height: 40px;
  padding: 0 16px;
  color: #fff;
  opacity: .8;
  font-weight: 500;
}

.nav-bar .navbar-nav .nav-item.active a {
  /** background-color: #282828; **/
  opacity: 1;
}

.nav-bar .navbar-nav .nav-item i {
  margin-right: 5px;
  font-size: 22px;
}

.player-radio {
  background-color: #be1b2e;
  border-radius: 5px;
  width: 195px;
  min-height: 95px;
  color: white;
  align-content: center;
}

.player-radio button {
  color: #fff;
  background-color: #5b0f0f;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-left: 5px;
  font-size: 16px;
}

.player-radio button:hover {
  transform: scale(1.07);
  transition: 50ms;
}

.player-radio span {
  font-size: small;
}

.player-radio .row {
  z-index: 0;
}

.menu-itens-produtos {
  font-size: small;
  /* margin-top: 10px; */
}

.menu-itens-produtos .navbar-nav .nav-item a {
  height: auto;
}

.interactions {
  background-color: #8c1313;
  border-radius: 5px;
  width: 195px;
  color: white;
  align-content: center;
}

.interactions span {
  font-size: small;
  text-align: center;
}

.interactions .row {
  z-index: 0;
}

.line {
  margin-left: 10px;
  margin-right: 10px;
  border-left: 2px solid white;
  height: 30px;
  align-content: center;
}

.nav-footer {
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(246, 19, 19, 0.8);
  background-image: linear-gradient(rgba(119, 3, 3, 0.8), rgba(246, 19, 19, 0.8));
  border-radius: 10px;
}

.nav-bar::-webkit-scrollbar-thumb {
  background: #fff;;
}
.nav-bar::-webkit-scrollbar-thumb:hover {
  background: #b7b4b4;;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/*** TOP BAR ***/
.top-bar {
  grid-area: main-view;
  background-color: #474747;
  height: 50px;
  z-index: 2;
}

.top-bar .search-container {
  float: right;
  overflow: hidden;
}

.top-bar input[type=text] {
  padding: 4px;
  margin-top: 0px;
  font-size: 14px;
  border: none;
  max-width: 450px;
  border-radius: 4px 0 0 4px;
  text-decoration: none;
}
.top-bar input[type=text]:focus, .top-bar input:active {
  padding: 4px;
  margin-top: 0px;
  font-size: 14px;
  border: none;
  max-width: 450px;
  border-radius: 4px 0 0 4px;
  text-decoration: none;
}

.top-bar .search-container .button-search {
  float: right;
  padding: 4px 10px;
  margin-top: 0px;
  margin-right: 16px;
  background: #fcfbfb;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}
.top-bar .search-container button:hover {
  background: #ccc;
}

.top-bar .social-media {
  /* color: #fff;*/
  text-align: center;
}

.top-bar .social-media .button-social-media button {
  /* color: rgba(246, 19, 19, 0.8); */
  color: #c51313;
  /* background-color: #fff;*/
  background-color: transparent;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-left: 5px;
  font-size: 16px;
}

.top-bar header {
  background-color: #be1b2e;
  height: 50px;
}

.top-bar .btn-entrar {
  background-color: rgb(255, 255, 255);
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.76px;
  /** text-transform: uppercase; **/
  color: #0e0e0e;
  padding: 6px 28px;
  border-radius: 5px;
}

.top-bar .btn-criar {
  background-color: rgba(246, 19, 19, 0.8);
  border: 0px solid;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.76px;
  /** text-transform: uppercase; **/
  color: #fff;
  padding: 6px 28px;
  border-radius: 5px;
  margin-left: 10px;
}

.top-bar .btn-entrar:hover {
  transform: scale(1.06);
  transition: 50ms;
}

.top-bar .btn-criar:hover {
  transform: scale(1.06);
  transition: 50ms;
}

input {
  margin: 5px;
  color: white;
  font-family: 'Poppins', sans-serif;
  background-color: #be1b2e;
  outline-color: #be1b2e;
}
input::placeholder {
  color: white;
  font-family: 'Poppins', sans-serif;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #be1b2e inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.main {
  grid-area: main-view;
  flex: 1;
  height: 100%;
  min-height: 0;
  overflow-y: scroll;
}

.main .margin-top {
  position: sticky;
  top: 0;
  height: 60px;
}

.main .main-container {
  padding: 16px 32px;
  flex: 1;
  min-height: 0;
}

/** PLAYER ***/
.player {
  grid-area: player;
  height: 55px;
  background-color: #181818;
}
footer {
  padding: 0 16px;
}
footer .cover img {
    max-width: 40px;
    max-height: 40px;
}

footer .text {
    overflow: hidden;
    max-height: 40px;
    text-overflow: ellipsis;
    min-width: 60px;
}

footer a .cover img {
  max-width: 40px;
  max-height: 40px;
}

footer a .text {
  overflow: hidden;
  max-height: 40px;
  text-overflow: ellipsis;
  min-width: 300px;
}

@media screen and (max-width: 400px) {
  .player {
    height: 65px;
  }
  footer .text {
    max-height: 60px;
  }

  input {
    width: 130px;
  }
}

footer .text label {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: .015em;
  color: #fff;
  text-align: left;
}

footer .text span {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.015em;
  text-align: left;
}

footer .icon {
  width: 28px;
}

footer .play {
  width: 40px;
  height: 40px;
  font-size: 32px;
  color: white;
  border: 0;
  padding: 0;
  border-radius: 50%;
  text-decoration: none;
}

footer .play:hover {
  background-color: #8c1313;
  color: white;
  transform: scale(1.07);
  transition: 50ms;
}

footer .control {
  width: 40px;
  height: 40px;
  font-size: 32px;
  color: white;
  border: 0;
  padding: 0;
  border-radius: 50%;
  text-decoration: none;
}

footer .control:hover {
  /* background-color: #8c1313; */
  color: white;
  transform: scale(1.07);
  transition: 50ms;
}

footer .player-center {
  width: 100%;
  /* max-width: 595px; */
}

footer .player-center .player-center-controls {
  max-width: 224px;
  margin-bottom: 12px;
  margin: 0 auto;
}

footer .progress-time {
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: .015em;
  min-width: 45px;
  text-align: center;
}

footer .logos {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #fff;
  opacity: .4;
}

footer .progress-bar, footer .progress {
  background-color: #535353;
  border-radius: 2px;
  display: flex;
  height: 4px;
  width: 100%;
}

footer .progress {
  background-color: #b3b3b3;
  width: 20%;
}

footer .volume-bar {
  width: 84px;
}

footer .volume-bar .progress-bar {
  height: 15px;
}

.dropdown-menu {
  z-index: 1000;
  min-width: 2rem;
  background-color: #383838;;
  border-radius: 0.30rem;
}


/**** FOOTER LINKS **/
.products-links {
  text-decoration: none !important;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #fff;
}

.products-links:hover {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.015em;
  text-align: left;
  color: #fff;
  opacity: 0.5;
}


.text-decorative{
  text-decoration: none;
}

.barra-footer{
  grid-area: barra-footer;
  background-color:  #474747;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: white;
}

/**** MAIN CONTAINER ***********/
.main .title {
  font-size: 21px;
  font-weight: 700;
  line-height:25px;
  letter-spacing: -.04em;
  color: #fff;
}

.main .subtitle {
  color: #fff;
  opacity: .6;
  font-size: 14px;
  letter-spacing: .04em;
}

.main .list {
  padding: 0 7px;
}

.main .list .card{
  /** padding: 20px 20px 16px;**/
  /** background-color: #282828; **/
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid #383838;

}
.icone{
  /** padding: 20px 20px 16px;**/
  /** background-color: #282828; **/
  width: 10px;
  border-radius: 12px;
  background-color: transparent;
  /** border: 1px solid #383838; **/

}
.main .list .card a img {
  border-radius: 12px;
  /* border-radius: 20px; */
}

.main .list .sonosfera {
  max-height: 100%;
  padding: 0px 0px;
}

.main .list .sonosfera img {
  border-radius: 10px;
}

.main .list .col-12 {
  padding-left: 8px;
  padding-right: 8px;
}

.main .list .card .card-body {
  min-height: 62px;
}

.main .list .card .card-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .24px;
  color: #fff;
  overflow: hidden;
  text-decoration: none;
  margin: 0;
}

.card-line{
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .15px;
  color: white;
}


.card-title{
  text-decoration: none;
}

.main .list .card .card-text {
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 4px;
  color: #fff;
  opacity: .6;
}

.main .list .card .btn-play {
  position: absolute;
  right: 16px;
  top: 198px;
  opacity: 1;
}

.main .list .card .stamp {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 20%;
}

.main .list .card .stamp-program {
  position: absolute;
  width: 101%;
  cursor: pointer
}

.main .list .card:hover > .btn-play {
  opacity: 1;
  transform: scale(1.10);
  transition: 50ms;
}

.main .list .card .btn-play button {
  color: #fff;
  background-color: rgba(246, 19, 19, 0.8);
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 12px;
}

.main .view-more {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #fff;
  opacity: .6;
}

.main .view-more-left, .main .view-more-right {
  color: #0a0a0a;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  width: 25px;
  height: 20px;
  padding: 0;
  font-size: 20px;
}

.main .view-more-left:hover, .main .view-more-right:hover {
  transform: scale(1.30);
  transition: 50ms;
}

.main .view-more-left {
  margin-left: 10px;
  margin-right: 0px;
}

@media screen and (max-width: 700px) {
  .main .main-container {
    padding: 16px 16px;
    flex: 1;
    min-height: 0;
  }
}

